body {
    background-color: #2980b9;
}

.container {
    max-width: 768px; /* or 950px */
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1);
}

.sheet { 
    background-color: white;
    border: 1px solid #2980b9;
}

.jumbotron {
    margin-bottom: 0;
}

.posts-row {
    padding: 30px;
}

.post {
    padding: 1em 0em;
    font-size: 1.1em;
    background-color: white;
    border-top: 1px solid #ddd;
}

.post .body {
    padding-bottom: 0.5em;
}

.post .timestamp {
    color: #999;
    font-size: 0.75em;
}

.post .votes {
    color: #999;
    font-size: 0.75em;
    float: right ;
}